# Introducción A Pandas

## ¿Por qué Pandas?

<ol> 
    <li> Posee la <b>flexibilidad</b> de Python </li>
    <li> Permite trabajar con <b>grandes cantidades de datos</b> </li>
</ol>

## Importamos los recursos necesarios

<p> Para realizar los pasos siguientes deberas descargar el dataset de la siguiente publicación: <a href ='https://www.kaggle.com/gregorut/videogamesales'>Dataset</a></p>

<p> También tendras disponibles en mi repositorio el dataset utilizado por si quieres descargarlo pero es interesante que puedas ver que el trabajo le pertenece a otra persona.</p>

<p> Una vez descargado el .csv debemos colocarlo en la misma carpeta donde tenemos guardado nuestro notebook o archivo .py</p>

In [1]:
# Ahora importaremos la libreria a utilizar : Pandas

import pandas as pd # utilizaremos la abreviatura pd

# En caso de lanzar un error, puede que no la tengas instalada, para ello deberás utilizar pip
# Ejecuta en la consola: pip install pandas 
# (si no funciona utiliza pip3 en vez de pip, sino deberás instalar pip)

In [2]:
# Tambien los datasets/archivos que utilizaremos
# Normalmente será mejor hacerlo a traves de un archivo .csv

ventas_juegos = pd.read_csv('ventasjuegos.csv')

# Pero tambien podemos hacerlo desde archivos excel, json, tablas sql e incluso de txt
vjxlsx = pd.read_excel('ventasjuegos.xlsx')
# Mostraremos un ejemplo con un documento de excel

## Lectura y recorrido de Datos

In [3]:
# Podremos visualizar que todos contienen lo mismo

print(ventas_juegos)
print(vjxlsx)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]
        Rank                                              Name Platform  Year  \
0          1                                        Wii Sports      Wii  2006
1          2                                 Super Mario Bros.      NES  1985
2          3                                    Mario Kart Wii      Wii  2008
3          4                                 Wii Sports Resort      Wii  2009
4          5                          Pokemon Red/Pokemon Blue       GB  1996
...      ...                                               ...      ...   ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA  2002
16594  16597                     Men in Black II: Alien Escape       GC  2003
16595  16598  SCORE International Baja 1000: The Official Game      PS2  2008
16596  16599                                        Know How 2       DS  2010
16597  16600                                  Spirits & Spells      GBA  2003

              Genre   Publisher NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0            Sports    Nintendo    41.49     29.02      3.77         8.46
1          Platform    Nintendo    29.08      3.58      6.81         0.77
2            Racing    Nintendo    15.85     12.88      3.79         3.31
3            Sports    Nintendo    15.75     11.01      3.28         2.96
4      Role-Playing    Nintendo    11.27      8.89     10.22         1.00
...             ...         ...      ...       ...       ...          ...
16593      Platform       Kemco     0.01      0.00      0.00         0.00
16594       Shooter  Infogrames     0.01      0.00      0.00         0.00
16595        Racing  Activision        0      0.00      0.00         0.00
16596        Puzzle    7G//AMES        0      0.01      0.00         0.00
16597      Platform     Wanadoo     0.01      0.00      0.00         0.00

       Global_Sales  Unnamed: 11
0             82.74          NaN
1             40.24          NaN
2             35.82          NaN
3             33.00          NaN
4             31.37          NaN
...             ...          ...
16593          0.01          NaN
16594          0.01          NaN
16595          0.01          NaN
16596          0.01          NaN
16597          0.01          NaN

[16598 rows x 12 columns]

In [4]:
# Imprimimos una parte representativa de nuestros datos para ver con que estaremos trabajando
# Pasamos un valor para elegir cuantas filas representar
 
(ventas_juegos.head(5)) # Imprimir 5 primeros función .head(cantidad)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
(ventas_juegos.tail(5)) # Imprimir 5 ultimos función .tail(cantidad)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [6]:
# Para imprimir las columnas o los "Headers" de datos utilizaremos columns
print(ventas_juegos.columns)

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [7]:
# Podemos imprimir una columna especifica con slicing, por ejemplo :
print(ventas_juegos['Name'])

# Pero tambien podriamos realizarlo de la siguiente forma:
print(ventas_juegos.Name)

# Tambien si queremos imprimir más de una columna podemos convertirla en una lista, de esta forma:
print(ventas_juegos[['Name','Platform']])

0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object
0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object
                                                   Name Platform
0                                            Wii Sports      Wii
1                                     Super Mario Bros.      NES
2                                        Mario Kart Wii      Wii
3                                     Wii Sports Resort      Wii
4                              Pokemon Red/Pokemon Blue       GB
...                                                 ...      ...
16593                Woody Woodpecker in Crazy Castle 5      GBA
16594                     Men in Black II: Alien Escape       GC
16595  SCORE International Baja 1000: The Official Game      PS2
16596                                        Know How 2       DS
16597                                  Spirits & Spells      GBA

[16598 rows x 2 columns]

In [8]:
# A demas podriamos imprimir cierta fila con la func iloc, por ejemplo:
ventas_juegos.iloc[2]

Rank                         3
Name            Mario Kart Wii
Platform                   Wii
Year                      2008
Genre                   Racing
Publisher             Nintendo
NA_Sales                 15.85
EU_Sales                 12.88
JP_Sales                  3.79
Other_Sales               3.31
Global_Sales             35.82
Name: 2, dtype: object

In [9]:
# También se podria imprimir más de una fila con la func iloc y utilizando slicing, tal que así:
(ventas_juegos.iloc[9:15])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00

In [10]:
# La funcion iloc tambien nos permitira obtener una celda puntual
# para ello le diremos la fila y col que queremos obtener:

ventas_juegos.iloc[1,[0,1,3]]

# Estamos pidiendo de la fila 2 la columna 1,2 y 4(ranking, nombre y año)

Rank                    2
Name    Super Mario Bros.
Year                 1985
Name: 1, dtype: object

In [11]:
# Podríamos realizar algo mas "Complejo" con un iterador y un bucle for
# Por ejemplo para poder mostrar el nombre junto al indice del juego:

for index,row in ventas_juegos.iterrows():
    if index < 10:
        print(index,row['Name'])
        # Imprimimos solo 10 para mostrar una representación
    elif 10 <= index < 20:
        print(index,row['Genre'])

# Este sería un ejemplo para trabajar los datos de otra forma

0 Wii Sports
1 Super Mario Bros.
2 Mario Kart Wii
3 Wii Sports Resort
4 Pokemon Red/Pokemon Blue
5 Tetris
6 New Super Mario Bros.
7 Wii Play
8 New Super Mario Bros. Wii
9 Duck Hunt
10 Simulation
11 Racing
12 Role-Playing
13 Sports
14 Sports
15 Misc
16 Action
17 Action
18 Platform
19 Misc

In [12]:
# Podríamos realizar una busqueda específica con la función .loc
# Para ello le pasaremos una condición para realizar la busqueda
# Por ejemplo:
ventas_juegos.loc[ventas_juegos['Platform'] == 'PC']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.0,0.71,8.11
137,138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.0,0.00,6.28
181,182,Diablo III,PC,2012.0,Role-Playing,Activision,2.43,2.15,0.0,0.62,5.20
194,195,Microsoft Flight Simulator,PC,1996.0,Simulation,Microsoft Game Studios,3.22,1.69,0.0,0.20,5.12
217,218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.56,1.68,0.0,0.59,4.83
...,...,...,...,...,...,...,...,...,...,...,...
16558,16561,Pro Evolution Soccer 2008,PC,2007.0,Sports,Konami Digital Entertainment,0.00,0.01,0.0,0.00,0.01
16566,16569,End of Nations,PC,2012.0,Strategy,Trion Worlds,0.01,0.00,0.0,0.00,0.01
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.0,0.00,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.0,0.00,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.0,0.00,0.01

In [13]:
# Otro ejemplo con una condición algo más compleja podría ser el siguiente:
ventas_juegos.loc[(ventas_juegos['Genre'] == 'Shooter') & (ventas_juegos['Year'] >= 2014) & \
                  (ventas_juegos['Platform'] == 'PC')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3247,3249,Far Cry 4,PC,2014.0,Shooter,Ubisoft,0.15,0.42,0.0,0.05,0.62
3457,3459,Titanfall,PC,2014.0,Shooter,Electronic Arts,0.21,0.30,0.0,0.07,0.58
3755,3757,Star Wars Battlefront (2015),PC,2015.0,Shooter,Electronic Arts,0.13,0.37,0.0,0.04,0.54
4244,4246,Wolfenstein: The New Order,PC,2014.0,Shooter,Bethesda Softworks,0.12,0.29,0.0,0.05,0.46
4509,4511,Overwatch,PC,2016.0,Shooter,Activision,0.22,0.18,0.0,0.04,0.43
4740,4742,Call of Duty: Advanced Warfare,PC,2014.0,Shooter,Activision,0.14,0.23,0.0,0.04,0.41
5104,5106,Tom Clancy's The Division,PC,2016.0,Shooter,Ubisoft,0.20,0.14,0.0,0.03,0.37
6071,6073,Borderlands: The Pre-Sequel,PC,2014.0,Shooter,Take-Two Interactive,0.11,0.15,0.0,0.03,0.29
7050,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00,0.22,0.0,0.01,0.23
7211,7213,Tom Clancy's Rainbow Six: Siege,PC,2015.0,Shooter,Ubisoft,0.12,0.08,0.0,0.02,0.22
8027,8029,Evolve,PC,2015.0,Shooter,Take-Two Interactive,0.07,0.10,0.0,0.01,0.18
8138,8140,Doom (2016),PC,2016.0,Shooter,Bethesda Softworks,0.06,0.10,0.0,0.01,0.18
8960,8962,Alien: Isolation,PC,2014.0,Shooter,Sega,0.00,0.13,0.0,0.01,0.15
9304,9306,Battlefield: Hardline,PC,2015.0,Shooter,Electronic Arts,0.00,0.13,0.0,0.01,0.14
12005,12007,Battleborn,PC,2016.0,Shooter,Take-Two Interactive,0.03,0.03,0.0,0.01,0.07
13436,13438,Plants vs. Zombies: Garden Warfare 2,PC,2016.0,Shooter,Electronic Arts,0.00,0.04,0.0,0.00,0.05
15138,15141,Plants vs. Zombies: Garden Warfare,PC,2014.0,Shooter,Electronic Arts,0.00,0.02,0.0,0.00,0.02
15339,15342,Homefront: The Revolution,PC,2016.0,Shooter,Deep Silver,0.00,0.02,0.0,0.00,0.02

### Estadísticas a partir del Dataset

In [14]:
# Podemos obtener más información util como pueden ser:
# La cantidad de objetos, la media, el minimo, el maximo,etc.
# Para ello tan solo utilizaremos la función .describe()

ventas_juegos.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [15]:
# Tambien podriamos hacerlo por separado, por ejemplo para obtener la media utilizaremos la funcion .mean()
# Tal que así:

ventas_juegos.mean()

Rank            8300.605254
Year            2006.406443
NA_Sales           0.264667
EU_Sales           0.146652
JP_Sales           0.077782
Other_Sales        0.048063
Global_Sales       0.537441
dtype: float64

### Ordenando los Datos alfabetica y numericamente

In [16]:
# Si quisieramos ordenar nuestros datos a partir de una columna
# Podriamos hacerlo con la función .sort_values(columna)

ventas_juegos.sort_values('Name')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
4754,4756,'98 Koshien,PS,1998.0,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41
8357,8359,.hack//G.U. Vol.1//Rebirth,PS2,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
7107,7109,.hack//G.U. Vol.2//Reminisce,PS2,2006.0,Role-Playing,Namco Bandai Games,0.11,0.09,0.00,0.03,0.23
8602,8604,.hack//G.U. Vol.2//Reminisce (jp sales),PS2,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.16,0.00,0.16
8304,8306,.hack//G.U. Vol.3//Redemption,PS2,2007.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
...,...,...,...,...,...,...,...,...,...,...,...
627,628,uDraw Studio,Wii,2010.0,Misc,THQ,1.67,0.58,0.00,0.20,2.46
7835,7837,uDraw Studio: Instant Artist,Wii,2011.0,Misc,THQ,0.08,0.09,0.00,0.02,0.19
15523,15526,uDraw Studio: Instant Artist,X360,2011.0,Misc,THQ,0.01,0.01,0.00,0.00,0.02
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
9135,9137,¡Shin Chan Flipa en colores!,DS,2007.0,Platform,505 Games,0.00,0.00,0.14,0.00,0.14

In [17]:
# A demás si quisieramos que este orden en vez de ascendente sea descendente
# Debemos pasarle un argumento a la función sort_values tal que ascending = False
# Ordenaremos los datos a partir del año de forma descendente.

ventas_juegos.sort_values('Year', ascending = False)

# NaN significa Not a Number, eso quiere decir que es un valor desconocido.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
16438,16441,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
8293,8295,Shin Megami Tensei IV: Final,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.00,0.14,0.00,0.17
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [18]:
# También podremos ordenar más de una columna, lo cual ordenará por jerarquias segun el puesto en el orden
# Esto lo conseguiremos pasando una lista de Headers en vez de solo uno, e indicando el orden, por ejemplo:

ventas_juegos.sort_values(['Genre','Rank'], ascending = [0,1])
# 0 = False y 1 = True y los mismos respetan el orden de los Headers.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
165,166,Pokemon Stadium,N64,1999.0,Strategy,Nintendo,3.18,1.24,0.94,0.09,5.45
204,205,Warzone 2100,PS,1999.0,Strategy,Eidos Interactive,2.79,1.89,0.00,0.33,5.01
217,218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.56,1.68,0.00,0.59,4.83
267,268,Warcraft II: Tides of Darkness,PC,1995.0,Strategy,Activision,1.70,2.27,0.00,0.23,4.21
335,336,Pokémon Trading Card Game,GB,1998.0,Strategy,Nintendo,1.49,0.73,1.38,0.10,3.70
...,...,...,...,...,...,...,...,...,...,...,...
16564,16567,Original Frisbee Disc Sports: Ultimate & Golf,DS,2007.0,Action,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01
16567,16570,Fujiko F. Fujio Characters: Great Assembly! Sl...,3DS,2014.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16582,16585,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0.00,0.00,0.00,0.01
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.00,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

## Realizando cambios a los Datos

### Agregando y quitando Columnas

<p> En esta sección, como demostración, eliminaremos la columna de <b>'Global_Sales'</b> para luego volver a crearla nosotros mismos, de este modo podremos aprender tanto a eliminar como crear columnas con <b>pandas</b>, vamos a ello..</p>

In [19]:
# Para comenzar eliminaremos la columna Global_Sales de nuestro dataset de ventas
# Para elimnar filas o columnas debemos utilizar la función .drop e indicar lo que se quiere eliminar
# Por ejemplo:

ventas_juegos = ventas_juegos.drop(columns=['Global_Sales'])

ventas_juegos.head(5) # Mostramos el resultado de eliminar la columna

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

In [20]:
# Para poder agregar una nueva columna tenemos que establecer como vamos a crearla
# Si ese fuera nuestro conjunto de datos, sería interesante tener una sumatoria de las ventas globales
# Esto podria lograrse sumando las 4 columnas de ventas según la región, entonces:

ventas_juegos['Global_Sales'] = ventas_juegos['NA_Sales'] + ventas_juegos['EU_Sales'] + \
ventas_juegos['JP_Sales'] + ventas_juegos['Other_Sales']

# La barra invertida es tan solo para continuar en la siguiente linea

ventas_juegos.head(5) # Mostramos por pantalla como sería el resultado

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.38

In [21]:
# Una buena práctica luego de crear una columna es asegurarnos de que
# El proceso por el cual la creamos fue correcto, por ejemplo
# Nosotros creamos Global_Sales a partir de la sumatoria de la ventas por región
# Entonces deberiamos de sumar para 1 caso la cantidad de ventas totales, por ej:

ventas_juegos.iloc[0,6] + ventas_juegos.iloc[0,7] + ventas_juegos.iloc[0,8] + ventas_juegos.iloc[0,9]
# Simulamos la sumatoria total sumando todas las ventas por región
# Como vemos el resultado es 82.74 lo que indica que la columna Global_Sales se creó correctamente

82.74000000000001

In [22]:
# También podríamos crear nuestra columna de forma tal que
# Ejecutemos una sumatoria de varias columnas indicandole el eje en que queremos sumar
# Primero eliminaremos nuevamente la columna Global_Sales y luego la crearemos de otra forma

# Eliminamos la columna Global_Sales
ventas_juegos = ventas_juegos.drop(columns=['Global_Sales'])

# Mostramos el resultado de eliminar la columna
ventas_juegos.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

In [23]:
# Volvemos a crear la columna Global_Sales de forma que sea una sumatoria de columnas

ventas_juegos['Global_Sales'] = ventas_juegos.iloc[:, 6:10].sum(axis = 1)
# axis = 1 es eje 'x' súma horizontal, axis = 1 es eje 'y' o súma vertical

# Mostramos el resultado de agregar la columna Global_Sales
ventas_juegos.head(5)
# Veremos que nos vuelve a dar bien por la comparación con la sumatoria total anterior

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.38

### Reacomodando Columnas

<p> En caso de que quisieras Reordenar tus datos, entonces podrías cambiar el orden de las columnas, eso haremos en esta sección </p>

In [24]:
# Para seleccionar las columnas podemos utilizar una variable que sea una lista de las col
# Luego utilizaremos slicing para reacomodar nuestros datos

# Seleccionamos las columnas en una variable
columnas = list(ventas_juegos.columns)

# Seleccionamos el orden que queramos seleccionando las columnas y posicionandolas a gusto
ventas_juegos = ventas_juegos[columnas[1:6] + [columnas[0]] + [columnas[-1]] + columnas[6:10]]

ventas_juegos.head(5) # Muestra del reordenado de los datos

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00

In [25]:
# Una buena practica para no errarle con el número de orden de las columnas, sería obtener
# el indice de la columna que queramos utilizar, por ejemplo para reordenar el dataset de otra forma

## Guardado de Datasets

<p> En esta sección <b>guardaremos</b> el dataset que estuvimos trabajando en diversas extensiones distintas</p>

In [26]:
ventas_juegos

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

In [27]:
# Una vez visualizamos nuestro DataSet y estamos a gusto procederemos a realizar el guardado
# El guardado puede realizarse en diversas extensiones: csv,xlsx,xml,json,txt,etc.
# En este caso guardaremos el dataset como un csv

ventas_juegos.to_csv('modificado.csv', index = False)

# El argumento index = False le indica que en el guardado no tome en cuenta el indice

In [28]:
# Podríamos importar el nuevo archivo y ver que quedó tal cual lo tenemos arriba
modificado = pd.read_csv('modificado.csv')

modificado

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

In [29]:
# Lo mismo podemos realizar con alguna otra extension
# en este caso mostrare como seria con formato excel

ventas_juegos.to_excel('modificado.xlsx', index = False)

In [30]:
# Realizamos la comprobacion al igual que el otro
modificado_excel = pd.read_excel('modificado.xlsx')

modificado_excel

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

In [31]:
# Tambien podriamos exportalo como un archivo .txt, para ello lo guardaremos con la misma función que un csv
# Pero esta vez al archivo le pondremos extension .txt, el indice si no lo queremos en falso
# Pero es importante que sepas que podemos elegir los separadores entre las columnas
# Esto lo haremos pasando a la función el argumento sep = '' y entre comillas el separador que queramos

ventas_juegos.to_csv('modificado.txt', index = False, sep = '\t')

In [32]:
# Podremos usar luego la lectura read_table y el nombre del txt
# Comprobamos que funcione correctamente:
modificado_txt = pd.read_table('modificado.txt')

modificado_txt

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

## Filtrado de datos

<p> En esta sección realizaremos un filtrado de datos con multiples condiciones e incluso un filtrado de datos con regex </p>

<p> Es importante saber que en las condiciones de pandas utilizaremos el and como & y el or como | </p>

In [33]:
# Podemos generar, como vimos previamente, filtrados avanzados a partir de la funcion .loc
# Esto nos permitirá realizar todo tipo de busqueda en nuestro dataset
# Pero además podriamos guardarlo como un nuevo dataset, siendo una parte del anterior
# Por ejemplo separaremos los shooters de PC y PS2 con ranking menor a 1000 como: interesantes

interesantes = ventas_juegos.loc[(ventas_juegos['Genre'] == 'Shooter') & \
(ventas_juegos['Platform'] == 'PC') & (ventas_juegos['Rank'] < 1000)]

interesantes # Imprimimos el nuevo dataset generado 'interesantes'

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
281,Half-Life,PC,1997.0,Shooter,Vivendi Games,282,4.12,4.03,0.00,0.09,0.00
353,Doom II: Hell on Earth,PC,1994.0,Shooter,Virgin Interactive,354,3.61,2.05,1.40,0.00,0.16
533,Battlefield 3,PC,2011.0,Shooter,Electronic Arts,534,2.80,0.89,1.43,0.00,0.48
665,Half-Life 2,PC,2004.0,Shooter,Vivendi Games,667,2.38,2.28,0.02,0.08,0.00
874,Star Wars: Dark Forces,PC,1994.0,Shooter,LucasArts,876,1.95,1.09,0.77,0.00,0.09

In [34]:
# Si tenemos la duda si hemos perdido el resto de datos, tan solo debemos de llamar al Dataset original

ventas_juegos # Todo sigue como estaba en el Dataset de origen

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

### Reseteo de Indices

In [35]:
# Si observamos el nuevo dataset aun tiene los indices del dataset original
# Esto puede tornarse molesto si usted desea utilizar para otra cosa su nuevo dataset
# Si queremos que esto no suceda deberemos resetar nuestros indices y borrar los indices anteriores
# Para ello utilizaremos la funcion .reset_index y le pasaremos como argumento drop = True
# Entonces para nuestro nuevo dataset 'interesantes', sería:

interesantes = interesantes.reset_index(drop = True)

# Mostraremos por pantalla el dataset con los indices reseteados
interesantes

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Half-Life,PC,1997.0,Shooter,Vivendi Games,282,4.12,4.03,0.00,0.09,0.00
1,Doom II: Hell on Earth,PC,1994.0,Shooter,Virgin Interactive,354,3.61,2.05,1.40,0.00,0.16
2,Battlefield 3,PC,2011.0,Shooter,Electronic Arts,534,2.80,0.89,1.43,0.00,0.48
3,Half-Life 2,PC,2004.0,Shooter,Vivendi Games,667,2.38,2.28,0.02,0.08,0.00
4,Star Wars: Dark Forces,PC,1994.0,Shooter,LucasArts,876,1.95,1.09,0.77,0.00,0.09

### Filtrado Con Regex

<p> Además podremos realizar filtrados a partir de busquedas con regex, esto facilitará la busqueda de contenidos ya que regex es una buena herramienta, pero debemos saber bien lo que estamos haciendo.</p>

In [36]:
# Un ejemplo de busqueda regex sería la utilización de la función .str y .contains()
# La misma nos servira para buscar entre las filas que contengan respectiva palabra
# Veamos un ejemplo buscando todos los juegos que contengan 'life' en su nombre.

ventas_juegos.loc[ventas_juegos['Name'].str.contains('Life')]

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
188,Tomodachi Life,3DS,2013.0,Simulation,Nintendo,189,5.15,0.96,2.02,1.89,0.28
281,Half-Life,PC,1997.0,Shooter,Vivendi Games,282,4.12,4.03,0.00,0.09,0.00
529,A Bug's Life,PS,1998.0,Platform,Sony Computer Entertainment,530,2.79,1.96,0.72,0.00,0.11
665,Half-Life 2,PC,2004.0,Shooter,Vivendi Games,667,2.38,2.28,0.02,0.08,0.00
1198,Active Life: Outdoor Challenge,Wii,2008.0,Sports,Atari,1200,1.56,0.79,0.44,0.19,0.14
...,...,...,...,...,...,...,...,...,...,...,...
15831,LifeSigns: Surgical Unit,DS,2005.0,Simulation,JoWood Productions,15834,0.02,0.01,0.01,0.00,0.00
16211,Tomoyo After: It's a Wonderful Life CS Edition,PS2,2007.0,Adventure,Prototype,16214,0.01,0.00,0.00,0.01,0.00
16291,FairlyLife: MiracleDays,PSP,2010.0,Adventure,Piacci,16294,0.01,0.00,0.00,0.01,0.00
16398,Petz: Hamsterz Life 2,GBA,2007.0,Misc,Ubisoft,16401,0.01,0.01,0.00,0.00,0.00
16460,"Horse Life 4: My Horse, My Friend, My Champion",3DS,2015.0,Action,Unknown,16463,0.01,0.00,0.01,0.00,0.00

In [37]:
# También podríamos obtener el inverso de esto, por ejemplo buscando entre los que no contengan life en el nombre
# Para invertir una proposición solo bastará con agregar una ~ al frente
# Realizaremos un ejemplo con todos los que no contengan Wii en su nombre

ventas_juegos.loc[~ventas_juegos['Name'].str.contains('Wii')]

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
5,Tetris,GB,1989.0,Puzzle,Nintendo,6,30.26,23.20,2.26,4.22,0.58
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,7,30.01,11.38,9.23,6.50,2.90
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,10,28.31,26.93,0.63,0.28,0.47
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

In [38]:
# Pero no solo podremos pasarle palabras como argumento, además podremos pasarle expresiones regulares
# Esto nos permitirá realizar filtros mucho más avanzados, pero para utilizarlas debemos importar su libreria

import re

# Nos permitirá filtrar datos a partir de patrones textuales que podremos realizar con regex

In [39]:
# Por ejemplo podríamos realizar una busqueda entre los datos, que nos devuelva todo juego con plataforma PC o PS2
# Para ello buscaremos en la col platform estas 2 Palabras activando el regex, tal que así

ventas_juegos.loc[ventas_juegos['Platform'].str.contains('PC|PS2', regex = True)]

# Esto dará como resultado todos los juegos de ps2 y pc

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
17,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,18,20.81,9.43,0.40,0.41,10.57
24,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,25,16.15,8.41,5.49,0.47,1.78
28,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,29,14.97,6.85,5.09,1.87,1.16
38,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,39,13.10,6.99,4.51,0.30,1.30
47,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,48,11.65,3.01,0.01,1.10,7.53
...,...,...,...,...,...,...,...,...,...,...,...
16577,Damnation,PC,2009.0,Shooter,Codemasters,16580,0.01,0.00,0.01,0.00,0.00
16580,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,16583,0.01,0.00,0.00,0.01,0.00
16585,Breach,PC,2011.0,Shooter,Destineer,16588,0.01,0.01,0.00,0.00,0.00
16591,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,16594,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00

In [40]:
# También, en regex, existen las flags que son métodos más avanzados, pero por ejemplo
# En este caso la utilizaremos para evitar si es City o city, lo encontrará igual

ventas_juegos.loc[ventas_juegos['Name'].str.contains('city', flags = re.I,regex = True)]

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
24,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,25,16.15,8.41,5.49,0.47,1.78
90,Grand Theft Auto: Liberty City Stories,PSP,2005.0,Action,Take-Two Interactive,91,7.72,2.90,2.83,0.24,1.75
159,Batman: Arkham City,PS3,2011.0,Action,Warner Bros. Interactive Entertainment,160,5.52,2.70,1.91,0.11,0.80
198,Grand Theft Auto: Vice City Stories,PSP,2006.0,Action,Take-Two Interactive,199,5.09,1.70,2.02,0.16,1.21
222,Batman: Arkham City,X360,2011.0,Action,Warner Bros. Interactive Entertainment,223,4.75,2.99,1.31,0.04,0.41
...,...,...,...,...,...,...,...,...,...,...,...
15412,Puzzle City,DS,2009.0,Puzzle,Destineer,15415,0.02,0.02,0.00,0.00,0.00
15468,Tycoon City: New York,PC,2006.0,Strategy,Atari,15471,0.02,0.00,0.02,0.00,0.00
15540,The Crow: City of Angels,PS,1997.0,Action,Acclaim Entertainment,15543,0.02,0.01,0.01,0.00,0.00
15556,Style Book: Junior City,DS,2006.0,Misc,Namco Bandai Games,15559,0.02,0.00,0.00,0.02,0.00
16224,New Interpretation Stranger of Sword City,PSV,2016.0,Role-Playing,Experience Inc.,16227,0.01,0.00,0.00,0.01,0.00

In [41]:
# Podríamos incluso filtrar todos los juegos que no contengan números en su nombre
# Para ello utilizaremos una expresión regular que hace referencia a todos los números

ventas_juegos.loc[~ventas_juegos['Name'].str.contains('\d+',regex = True)]

# De esta forma ningun juego del resultado tendrá numeros en su nombre
# Esto y muchas cosas más podrás realizar con regex muy facilmente, recomiendo estudiarlas y utilizarlas

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16590,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,16593,0.01,0.00,0.00,0.01,0.00
16591,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,16594,0.01,0.01,0.00,0.00,0.00
16592,Plushees,DS,2008.0,Simulation,Destineer,16595,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

## Cambios Condicionales

<p> En esta sección veremos como podemos realizar cambios en nuestro dataset a partir de los condicionales que hemos estado viendo ultimamente </p>

In [42]:
# Por ejemplo podríamos cambiar el género 'Racing' a 'Careers' para mostrarlo
# Para ello debemos utilizar la siguiente sintaxis

ventas_juegos.loc[ventas_juegos['Genre'] == 'Racing', 'Genre'] = 'Careers'

ventas_juegos.loc[ventas_juegos['Genre'] == 'Careers']
# Mostrariamos como todos los juegos de Racing han sido cambiados por Careers

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
2,Mario Kart Wii,Wii,2008.0,Careers,Nintendo,3,35.83,15.85,12.88,3.79,3.31
11,Mario Kart DS,DS,2005.0,Careers,Nintendo,12,23.43,9.81,7.57,4.13,1.92
28,Gran Turismo 3: A-Spec,PS2,2001.0,Careers,Sony Computer Entertainment,29,14.97,6.85,5.09,1.87,1.16
42,Mario Kart 7,3DS,2011.0,Careers,Nintendo,43,12.21,4.74,3.91,2.67,0.89
47,Gran Turismo 4,PS2,2004.0,Careers,Sony Computer Entertainment,48,11.65,3.01,0.01,1.10,7.53
...,...,...,...,...,...,...,...,...,...,...,...
16530,Sébastien Loeb Rally Evo,XOne,2016.0,Careers,Milestone S.r.l,16533,0.01,0.00,0.01,0.00,0.00
16543,Driving Simulator 2011,PC,2011.0,Careers,NaN,16546,0.01,0.00,0.01,0.00,0.00
16573,Mini Desktop Racing,Wii,2007.0,Careers,Popcorn Arcade,16576,0.01,0.01,0.00,0.00,0.00
16574,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Careers,Takara Tomy,16577,0.01,0.00,0.00,0.01,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,16598,0.00,0.00,0.00,0.00,0.00

In [43]:
# Incluso podriamos modificar valores de una columna a partir de un condicional del contenido de otra columna
# Por ejemplo podriamos establecer que todos los juegos de plataforma Wii Sean del año 2008

ventas_juegos.loc[ventas_juegos['Platform'] == 'Wii', 'Year'] = 2008

ventas_juegos[ventas_juegos['Platform'] == 'Wii']
# Imprimimos los de plataforma Wii y vemos que todos son del año 2008

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2008.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
2,Mario Kart Wii,Wii,2008.0,Careers,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2008.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
7,Wii Play,Wii,2008.0,Misc,Nintendo,8,29.01,14.03,9.20,2.93,2.85
8,New Super Mario Bros. Wii,Wii,2008.0,Platform,Nintendo,9,28.61,14.59,7.06,4.70,2.26
...,...,...,...,...,...,...,...,...,...,...,...
16517,Teenage Mutant Ninja Turtles,Wii,2008.0,Action,Konami Digital Entertainment,16520,0.01,0.00,0.01,0.00,0.00
16552,Mahou Sensei Negima!? Neo-Pactio Fight!!,Wii,2008.0,Fighting,Marvelous Interactive,16555,0.01,0.00,0.00,0.01,0.00
16573,Mini Desktop Racing,Wii,2008.0,Careers,Popcorn Arcade,16576,0.01,0.01,0.00,0.00,0.00
16574,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Careers,Takara Tomy,16577,0.01,0.00,0.00,0.01,0.00
16581,Fit & Fun,Wii,2008.0,Sports,Unknown,16584,0.01,0.00,0.01,0.00,0.00

In [44]:
# Además podriamos modificar varias columnas a la vez, para ello usaremos la misma sintaxis
# Pero en vez de pasar 1 columna pasaremos una lista con las columnas a cambiar, por ejemplo:

ventas_juegos.loc[ventas_juegos['Global_Sales'] >= 15, ['Genre','Publisher']] = 'VALOR DE PRUEBA'


# Podemos visualizar como todos los que tengan Ventas globales mayores o iguales a 15
# Se les cambiará el atributo Genero y Publicador por : 'VALOR DE PRUEBA'

ventas_juegos

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2008.0,VALOR DE PRUEBA,VALOR DE PRUEBA,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,VALOR DE PRUEBA,VALOR DE PRUEBA,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,VALOR DE PRUEBA,VALOR DE PRUEBA,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2008.0,VALOR DE PRUEBA,VALOR DE PRUEBA,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,VALOR DE PRUEBA,VALOR DE PRUEBA,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

In [45]:
# Podremos pasarle a cada una un valor distinto pasando tambien una lista como resultado, por ejemplo

ventas_juegos.loc[ventas_juegos['Global_Sales'] >= 15, ['Genre','Publisher']] = ['Valor','Prueba']

ventas_juegos

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2008.0,Valor,Prueba,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Valor,Prueba,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Valor,Prueba,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2008.0,Valor,Prueba,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Valor,Prueba,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

In [46]:
# Para reiniciar nuestro dataset, ya que estos cambios que hemos realizado son erroneos, debemos volver a cargar el archivo modificado que habiamos guardado

# Carga del archivo modificado, pisando el nombre ventas_juegos
ventas_juegos = pd.read_csv('modificado.csv')

ventas_juegos

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

## Generar estadísticas con Groupby

<p> En esta sección aprenderemos a utilizar una función muy util a la hora de generar estadisticas de nuestro dataset, la cual es GroupBy </p>

In [47]:
# Por ejemplo podriamos querer saber la media segun la plataforma, para ello
# Debemos realizar un groupby y pasar como argumento la columna que nos interese
# En este caso haremos la media segun la plataforma

ventas_juegos.groupby(['Platform']).mean()
# Obviamente las medias tienen en cuenta solo datos numericos

,Year,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Platform,,,,,,,
2600,1982.137931,4403.496241,0.729173,0.681203,0.041128,0.000000,0.006842
3DO,1994.666667,14372.666667,0.033333,0.000000,0.000000,0.033333,0.000000
3DS,2013.062000,9160.400786,0.485992,0.154951,0.114971,0.191257,0.024813
DC,1999.942308,8771.423077,0.306731,0.104423,0.032500,0.164615,0.005192
DS,2008.201125,9637.462321,0.379778,0.180633,0.089991,0.081170,0.027984
GB,1995.958763,3392.030612,2.606735,1.166531,0.487959,0.868571,0.083673
GBA,2003.210851,8682.176399,0.386679,0.228151,0.091545,0.057579,0.009404
GC,2003.400369,8664.390288,0.357788,0.240036,0.069622,0.038813,0.009317
GEN,1993.037037,7037.740741,1.050000,0.713704,0.204444,0.098889,0.032963
GG,1992.000000,13527.000000,0.040000,0.000000,0.000000,0.040000,0.000000
N64,1998.531646,6530.373041,0.685517,0.435799,0.128715,0.107273,0.013730
NES,1987.153061,1906.438776,2.561735,1.285102,0.215816,1.006633,0.054184
NG,1994.500000,10665.666667,0.120000,0.000000,0.000000,0.120000,0.000000
PC,2008.773065,11438.319792,0.268740,0.097167,0.145500,0.000177,0.025896
PCFX,1996.000000,14559.000000,0.030000,0.000000,0.000000,0.030000,0.000000
PS,1998.004205,6958.221572,0.611070,0.281363,0.178595,0.116906,0.034206
PS2,2004.583921,7477.633966,0.581106,0.270171,0.157006,0.064415,0.089514
PS3,2010.819785,6793.054929,0.720760,0.295154,0.258623,0.060188,0.106795
PS4,2015.005952,7625.562500,0.827857,0.288095,0.368155,0.042560,0.129048
PSP,2008.721805,10399.873866,0.244204,0.089852,0.056265,0.063306,0.034782
PSV,2014.033981,11458.210654,0.149976,0.039225,0.039540,0.050751,0.020460
SAT,1996.028902,9333.936416,0.194162,0.004162,0.003121,0.186474,0.000405
SCD,1993.833333,10171.833333,0.310000,0.166667,0.060000,0.075000,0.008333
SNES,1993.845188,6346.460251,0.836987,0.256192,0.079665,0.487657,0.013473
TG16,1995.000000,12381.500000,0.080000,0.000000,0.000000,0.080000,0.000000
WS,2000.000000,7878.833333,0.236667,0.000000,0.000000,0.236667,0.000000
Wii,2008.962791,7730.774340,0.698906,0.383177,0.202551,0.052340,0.060838
WiiU,2013.594406,7756.237762,0.571958,0.267972,0.169441,0.089441,0.045105
X360,2009.882591,6692.528063,0.774387,0.475138,0.221802,0.009826,0.067621
XB,2003.636364,8761.257282,0.312791,0.226566,0.073968,0.001675,0.010583
XOne,2014.788732,7397.061033,0.662441,0.390563,0.214319,0.001596,0.055962

In [48]:
# A este conjunto de datos también podemos reordenarlo por ejemplo segun la cantidad de ventas totales,o el ranking
# Y así poder determinar cual plataforma fue la que tuvo juegos más vendidos
# Estadísticas de este tipo podemos armar muchas, nosotros trabajaremos este ejemplo:

ventas_juegos.groupby(['Platform']).mean().sort_values('Global_Sales', ascending = False)

# Así vemos que la gameboy es la que, en promedio, tuvo los juegos más vendidos.

,Year,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Platform,,,,,,,
GB,1995.958763,3392.030612,2.606735,1.166531,0.487959,0.868571,0.083673
NES,1987.153061,1906.438776,2.561735,1.285102,0.215816,1.006633,0.054184
GEN,1993.037037,7037.740741,1.050000,0.713704,0.204444,0.098889,0.032963
SNES,1993.845188,6346.460251,0.836987,0.256192,0.079665,0.487657,0.013473
PS4,2015.005952,7625.562500,0.827857,0.288095,0.368155,0.042560,0.129048
X360,2009.882591,6692.528063,0.774387,0.475138,0.221802,0.009826,0.067621
2600,1982.137931,4403.496241,0.729173,0.681203,0.041128,0.000000,0.006842
PS3,2010.819785,6793.054929,0.720760,0.295154,0.258623,0.060188,0.106795
Wii,2008.962791,7730.774340,0.698906,0.383177,0.202551,0.052340,0.060838
N64,1998.531646,6530.373041,0.685517,0.435799,0.128715,0.107273,0.013730
XOne,2014.788732,7397.061033,0.662441,0.390563,0.214319,0.001596,0.055962
PS,1998.004205,6958.221572,0.611070,0.281363,0.178595,0.116906,0.034206
PS2,2004.583921,7477.633966,0.581106,0.270171,0.157006,0.064415,0.089514
WiiU,2013.594406,7756.237762,0.571958,0.267972,0.169441,0.089441,0.045105
3DS,2013.062000,9160.400786,0.485992,0.154951,0.114971,0.191257,0.024813
GBA,2003.210851,8682.176399,0.386679,0.228151,0.091545,0.057579,0.009404
DS,2008.201125,9637.462321,0.379778,0.180633,0.089991,0.081170,0.027984
GC,2003.400369,8664.390288,0.357788,0.240036,0.069622,0.038813,0.009317
XB,2003.636364,8761.257282,0.312791,0.226566,0.073968,0.001675,0.010583
SCD,1993.833333,10171.833333,0.310000,0.166667,0.060000,0.075000,0.008333
DC,1999.942308,8771.423077,0.306731,0.104423,0.032500,0.164615,0.005192
PC,2008.773065,11438.319792,0.268740,0.097167,0.145500,0.000177,0.025896
PSP,2008.721805,10399.873866,0.244204,0.089852,0.056265,0.063306,0.034782
WS,2000.000000,7878.833333,0.236667,0.000000,0.000000,0.236667,0.000000
SAT,1996.028902,9333.936416,0.194162,0.004162,0.003121,0.186474,0.000405
PSV,2014.033981,11458.210654,0.149976,0.039225,0.039540,0.050751,0.020460
NG,1994.500000,10665.666667,0.120000,0.000000,0.000000,0.120000,0.000000
TG16,1995.000000,12381.500000,0.080000,0.000000,0.000000,0.080000,0.000000
GG,1992.000000,13527.000000,0.040000,0.000000,0.000000,0.040000,0.000000
3DO,1994.666667,14372.666667,0.033333,0.000000,0.000000,0.033333,0.000000
PCFX,1996.000000,14559.000000,0.030000,0.000000,0.000000,0.030000,0.000000

In [49]:
# Además de la función de media .mean(), tenemos otras para realizar estadísticas u obtener datos
# Esas son .sum() que sumará todos los datos de cada columna según el agrupamiento realizado
# Y .count() que contará cuantos diferentes datos existen para cada columna según el agrupamiento realizado

# Realizaremos un ejemplo de sumatoria según agrupamiento por generos y mostraremos el que tenga más ventas totales

ventas_juegos.groupby(['Genre']).sum().sort_values('Global_Sales', ascending = False)

,Year,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Genre,,,,,,,
Action,6531731.0,26441383,1750.16,877.83,525.00,159.95,187.38
Sports,4620621.0,17419112,1330.54,683.35,376.85,135.37,134.97
Shooter,2571588.0,9653872,1036.84,582.60,313.27,38.28,102.69
Role-Playing,2952379.0,12032228,927.26,327.28,188.06,352.31,59.61
Platform,1755347.0,6137545,831.04,447.05,201.63,130.77,51.59
Misc,3432412.0,14889052,809.30,410.24,215.98,107.76,75.32
Racing,2457934.0,9943933,731.77,359.42,238.39,56.69,77.27
Fighting,1675871.0,6484242,448.94,223.59,101.32,87.35,36.68
Simulation,1707589.0,7478816,391.91,183.31,113.38,63.70,31.52
Puzzle,1144994.0,5603136,244.42,123.78,50.78,57.31,12.55
Adventure,2562375.0,14831165,238.81,105.80,64.13,52.07,16.81
Strategy,1345757.0,6858962,174.86,68.70,45.34,49.46,11.36

In [50]:
# Por otra parte realizaremos el conteo de cuantos juegos por género existen
# Además los ordenaremos por rank, ya que es una clave única entonces nos indicará cuantos juegos existen por género

ventas_juegos.groupby(['Genre']).count().sort_values('Rank', ascending = False)

# Para que un número sea menor debe existir un dato en blanco, por ejemplo
# Encontramos que para 'Action' existen 3316 juegos, sin embargo, solo 3253 tienen el dato del año completo

,Name,Platform,Year,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Genre,,,,,,,,,,
Action,3316,3316,3253,3309,3316,3316,3316,3316,3316,3316
Sports,2346,2346,2304,2343,2346,2346,2346,2346,2346,2346
Misc,1739,1739,1710,1712,1739,1739,1739,1739,1739,1739
Role-Playing,1488,1488,1471,1486,1488,1488,1488,1488,1488,1488
Shooter,1310,1310,1282,1308,1310,1310,1310,1310,1310,1310
Adventure,1286,1286,1276,1282,1286,1286,1286,1286,1286,1286
Racing,1249,1249,1226,1248,1249,1249,1249,1249,1249,1249
Platform,886,886,876,884,886,886,886,886,886,886
Simulation,867,867,851,863,867,867,867,867,867,867
Fighting,848,848,836,846,848,848,848,848,848,848
Strategy,681,681,671,678,681,681,681,681,681,681
Puzzle,582,582,571,581,582,582,582,582,582,582

In [51]:
# Pero lo mejor es poder agrupar por más de un tipo de dato, eso nos permitirá hacer cosas increibles
# Por ejemplo crearemos un agrupado que sea segun generos y luego plataforma.
# Primero podemos crear una nueva columna llamada count para que sea más facil y visible contar
# Ya que en todos los casos estará completo el dato, entonces:

ventas_juegos['Contador'] = 1

ventas_juegos.groupby(['Genre','Platform']).count()['Contador']

# Entonces al imprmir solo verémos la cantidad para cada tipo de juego según el género y la plataforma

Genre     Platform
Action    2600         61
          3DS         182
          DC            3
          DS          343
          GB            6
                     ...
Strategy  Wii          25
          WiiU          3
          X360         28
          XB           21
          XOne          3
Name: Contador, Length: 293, dtype: int64

## Trabajar con grandes cantidades de datos

<p> Normalmente trabajaremos con cantidades de datos pequeñas como en este caso, pero hay casos que requeriran otras metodologias de trabajo ya que son una cantidad de datos muy grande. Para ello Pandas tiene soluciones muy interesantes. </p>

In [52]:
# Normalmente podremos cargar todo en un solo archivo, pero en caso de que esto no sea posible
# Pandas nos deja dividir la información en chunks y podriamos cargarlo de la siguiente forma:
# En este caso utilizamos un tamaño de chunk de 64 filas porque es pequeño 
# Pero deberemos de aumentarlo a medida que el archivo es más grande

# Creamos un DataSet vacío en el que iremos agregando los chunks
nuevos_datos = pd.DataFrame()

# Imprimimos el dataframe recien creado
print(nuevos_datos)

# Recorremos nuestro archivo de datos en forma de chunks de 64 filas
for ventas_juegos in pd.read_csv('modificado.csv', chunksize = 64):
    # Concatenamos los datos con la funcion .concat() formando nuevamente nuestor conjunto de datos
    nuevos_datos = pd.concat([nuevos_datos, ventas_juegos])
    # En este caso no realizamos, pero de por medio puedes hacer operaciones/modificaciones
    # que requieras en tu dataframe y así podras trabajar mejor y más rápido
    
# Imprimimos el DataFrame con todo agregado
nuevos_datos

Empty DataFrame
Columns: []
Index: []

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00


**Esto ha sido todo, para más información te dejaré los links a la página oficial de Pandas en el repo, junto con la Wiki de Pandas**

**Espero te haya gustado, si es así házmelo saber por mis redes, las cuales tendrás disponibles también en el repo, saludos !**